.gradient-custom {
    /* fallback for old browsers */
    background: #d60708;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #d60708, #000);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #d60708, #000)
    }

    body {
        background: linear-gradient(to left, #d60708, #000)
    }